
/NHibernatePerformanceIssues/bin
/NHibernatePerformanceIssues/_ReSharper.NHibernatePerformanceIssues
/NHibernatePerformanceIssues/NHibernatePerformanceIssues/bin
/NHibernatePerformanceIssues/NHibernatePerformanceIssues/obj
/NHibernatePerformanceIssues/NHibernatePerformanceIssuesTests/bin
/NHibernatePerformanceIssues/NHibernatePerformanceIssuesTests/obj