@(categories: List[eu.podval.psi.model.Category], categoryForm: Form[String])

@import helper._
@import helper.twitterBootstrap._

@main(title = "Kategorie", None) {

    @if(categoryForm.hasErrors) {
    <div class="alert-message error">
        <p>Ve formuláři je chyba.</p>
    </div>
    }

    <fieldset>
        @if(!categories.isEmpty) {
        <table class="altrowstable" id="alternatecolor">
            <tr><th>Jméno</th><th>Akce</th></tr>
            @for(c <- categories) {
                <tr>
                        <td><a href="@routes.Application.category(c.id)">@c.name</a></td>
                        <td>@form(routes.Application.deleteCategory(c.id)) { <input type="submit" value="Smazat"/>}</td>
                </tr>
            }
        </table>
        } else {
            Žádná kategorie neexistuje, přidejte novou.
        }
    </fieldset>

    @helper.form(action = routes.Application.newCategory) {
        <fieldset>
            <legend>Nová kategorie</legend>
            @inputText(categoryForm("name"), '_label -> "Jméno")
        </fieldset>
        <div class="actions">
            <input type="submit" class="btn primary" value="Přidat">
        </div>
    }
}