@(title: String, nav: Option[eu.podval.psi.model.Category])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Vyhodnocení soutěže psů - @title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tables.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/tables.js")" type="text/javascript"></script>
    </head>
    <body>

    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="@routes.Application.index()">Kategorie</a>
                @if(nav.nonEmpty) {
                    <ul class="nav">
                        <li class="active">
                            <a href="@routes.Application.category(nav.get.id)">@nav.get.name</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="page-header">
                <h1>@title</h1>
            </div>
            <div class="row">
                <div class="span14">
                    @content
                </div>
            </div>
        </div>

        <footer>
            <p>
                <a href="http://martin.podval.eu">Martin Podval</a>, <a href="http://www.playframework.org">www.playframework.org</a>
            </p>
        </footer>
    </div>
    </body>
</html>
